<div class="@Class">
    <div class="bg-white/5 rounded-t-lg px-2 h-8 flex items-center justify-between b-1 b-solid b-gray-400">
        <div class="flex items-center gap-1">
            <span class="w-3 h-3 rounded-full bg-red-6"></span>
            <span class="w-3 h-3 rounded-full bg-yellow-6"></span>
            <span class="w-3 h-3 rounded-full bg-green-6"></span>
        </div>
        <div>
            <span>@Title</span>
        </div>
    </div>
    <div class="bg-white/1 h-full">
        @ChildContent
    </div>
</div>