@page "/examples/basic-window"

<div class="pt-10 px-10">
    <div class="flex items-center justify-center">
        <Window Class="w-2/3" Title="Basic Window">
            <Raylib OnInit="Init" OnRender="Render"></Raylib>
        </Window>
    </div>
</div>