@page "/examples/three-d-first-person"

<div class="pt-10 px-10">
    <Window Class="w-full" Title="3D Camera First Person">
        <Raylib OnInit="Init" OnRender="Render"></Raylib>
    </Window>
</div>